::root { 
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --tertiary-color: #f9f9f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.general-container {
    display: flex;
    flex-direction: row;
    background-color: red;
}